.page-container {
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  box-sizing: border-box;
  }
  
  .content-wrapper {
    max-width: 1200px;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .text-content {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 50px;
    color: #1d4ed8;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .subtitle {
    color: black !important;
  }
  
  .grid-container .description {
    color: #4b5563 !important;
    font-size: 22px;
    margin-bottom: 16px; 
    text-align: left;
  }
  
  .explore-button {
    width: fit-content;
    padding: 12px 24px;
    background-color: white;
    color: #1d4ed8;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #1d4ed8;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .explore-button:hover {
    background-color: #1d4ed8;
    color: white;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
   align-items: center;
  background-color: transparent;
  }
  
  .image {
    max-width: 100%;
     height: 720px !important;
  object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .testimonials-section {
    margin-top: 50px;
    padding: 0 16px;
  }
  
  .testimonials-title {
    font-size: 40px;
    color: #3f3d56;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .testimonial-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .testimonial-text {
    font-size: 35px;
    color: black;
    margin-bottom: 10px; text-align: left;
  text-align: left;
  }
  
  .testimonial-author {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .testimonial-position {
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
  
  .testimonial-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
  }
  .highlighted-title {
    color: #1d4ed8; 
    font-weight: bold; 
    font-size: 40px; 
    text-align: center;
  }
  @media (max-width: 768px) {
  .title {
    font-size: 32px;
    text-align: center;
  }

  .grid-container .description {
    font-size: 18px;
    text-align: center;
  }

  .subtitle {
    text-align: center;
    font-size: 16px;
  }

  .image {
    max-height: 300px;
  }

  .explore-button {
    margin: 0 auto;
  }
}
